* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: Oxanium;
    src: url(fonts/Oxanium-VariableFont_wght.ttf);
}

body {
    overflow: hidden;
}

#bloki, #tools, #output {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 200px;
    height: 700px;
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
    padding: 7px;
    background-color: white;
    cursor: move;
    z-index: 1;
}

#tools {
    left: calc(100% - 303px);
    width: 300px;
    height: 100px;
}

#cursor {
    border: 1px solid black;
}

#output {
    top: 106px;
    left: calc(100% - 303px);
    width: 300px;
    height: 400px;
}

#input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 7px;
    font-size: 30px;
    font-family: "Oxanium";
    background-color: white;
    display: none;
}

#text {
    width: 100%;
    height: 80%;
    border: 1px solid black;
}

#input div {
    height: 15%;
    gap: 10%;
    flex-direction: row;
}

#potwierdz, #anuluj{
    width: 40%;
    height: 80%;
    border: 1px solid black;
    background-color: #dddddd;
    cursor: pointer;
}

#potwierdz:hover, #anuluj:hover {
    background-color: #cccccc;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    width: 80%;
    height: 3px;
    margin-left: 10%;
    background-color: black;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    cursor: grab;
}

canvas:active {
    cursor: grabbing;
}

#cables, #preview {
    position: absolute;
    pointer-events: none;
    cursor: pointer;
    z-index: 0;
}

#trash {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 150px;
    cursor: grab;
    z-index: 5;
}

#trash:active {
    cursor: grabbing;
}