* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: Oxanium;
    src: url(fonts/Oxanium-VariableFont_wght.ttf);
}

:root {
    --theme-back: #fff;
    --theme-fore: #000;
    --theme-shadow: #555;
    --theme-shadow2: rgba(55, 55, 55, 0.7);
    --theme-buttons: #ddd;
    --theme-buttons-hover: #ccc;
    --theme-footer: #333;
}

body {
    background-color: var(--theme-back);
    overflow: hidden;
}

#bloki, #tools, #output {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 200px;
    height: 700px;
    border: 2px solid var(--theme-fore);
    border-radius: 7px;
    text-align: center;
    padding: 7px;
    background-color: var(--theme-back);
    color: var(--theme-fore);
    cursor: move;
    filter: drop-shadow(4px 4px 2px var(--theme-shadow));
    z-index: 1;
}

#tools {
    left: calc(100% - 303px);
    width: 300px;
    height: 100px;
}

#cursor {
    border: 1px solid var(--theme-fore);
}

#output {
    top: 106px;
    left: calc(100% - 303px);
    width: 300px;
    height: 400px;
}

#input, #saves {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    transform: translate(-50%, -50%);
    border: 2px solid var(--theme-fore);
    padding: 7px;
    color: var(--theme-fore);
    background-color: var(--theme-back);
    display: none;
    z-index: 5;
}

#text, #exportName {
    width: 100%;
    height: 80%;
    font-size: 1.8em;
    font-family: 'Oxanium';
    border: 1px solid var(--theme-fore);
    color: var(--theme-fore);
    background-color: var(--theme-back);
    padding: 5px;
    resize: none;
}

#input div, #buttonWrapper {
    height: 15%;
    gap: 10%;
    flex-direction: row;
}

#buttonWrapper {
    height: 50%;
}

select {
    border: 1px solid var(--theme-fore);
}

#potwierdz, #anuluj, #confirmExport, #anuluj3{
    width: 40%;
    height: 80%;
    border: 1px solid var(--theme-fore);
    color: var(--theme-fore);
    background-color: var(--theme-buttons);
    font-size: 1.5em;
    cursor: pointer;
}

#potwierdz:hover, #anuluj:hover, #confirmExport:hover, #anuluj3:hover {
    background-color: var(--theme-buttons-hover);
}

.save, #anuluj2 {
    width: calc(100% - 14px);
    height: calc(20% - 8.75px);
    margin: 7px;
    border: 3px dashed var(--theme-fore);
    border-radius: 10px;
    font-family: 'Oxanium';
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save:hover, #anuluj2:hover {
    background-color: var(--theme-buttons-hover);
}

#anuluj2 {
    width: 50%;
    margin: 7px auto;
    border: 3px solid var(--theme-fore);
}

#confirmWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 40vh;
    border: 2px solid var(--theme-fore);
    border-radius: 10px;
    background-color: var(--theme-back);
    color: var(--theme-fore);
    padding: 10px;
    display: none;
    z-index: 5;
}

#exportName {
    height: 50%;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    width: 80%;
    height: 3px;
    margin-left: 10%;
    background-color: var(--theme-fore);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    cursor: pointer;
}

canvas:active {
    cursor: grabbing;
    z-index: 3 !important;
}

#buttons {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
}

#buttons button {
    width: 20%;
    height: 100%;
    margin-left: 3px;
    margin-right: 3px;
    color: var(--theme-footer);
    background-color: var(--theme-back);
    border: 1px solid var(--theme-fore);
    font-weight: 600;
    cursor: pointer;
}

#buttons button:hover {
    background-color: var(--theme-buttons-hover);
}

#cables, #preview {
    position: absolute;
    pointer-events: none;
    cursor: pointer;
    z-index: 4;
}

#cables {
    z-index: 0;
}

#import, #export {
    width: 40%;
    height: 50px;
    margin: 3px;
    border: 1px solid var(--theme-fore);
    background-color: var(--theme-back);
    color: var(--theme-fore);
    cursor: pointer;
}

#import:hover, #export:hover {
    background-color: var(--theme-buttons-hover);
}

#theme {
    position: absolute;
    top: 3px;
    left: calc(100% - 347px);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-back);
    border: 1px solid var(--theme-fore);
    border-radius: 5px;
    cursor: pointer;
}

#moon {
    width: 80%;
    height: 85%;
    border-top: 8px solid var(--theme-fore);
    border-left: 8px solid var(--theme-fore);
    border-radius: 50%;
    transform: rotate(-75deg);
}

#trash {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 150px;
    cursor: grab;
    filter: drop-shadow(5px 5px 3px var(--theme-shadow2));
    z-index: -1;
}

#trash:active {
    cursor: grabbing;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: 'Oxanium';
    color: var(--theme-footer);
    opacity: 0.7;
    text-shadow: 4px 4px 4px var(--theme-fore);
    pointer-events: none;
    z-index: -1;
}